# Template file for OWL Chart configuration file.  Modify to suite your needs
# by:
#
# a) Copying this file to ``config.py``
# b) Editing the resultant ``config.py`` to reflect your situation.
#
class Config(object):
    pass

config = Config()

# Uncomment the below, so that this points to the database produced by the
# cm160 tool found here: https://github.com/cornetp/eagle-owl
#
#config.db_path = '/var/eagleowl/eagleowl.db'
